# Optional: Provide your Gemini or OpenAI API keys for direct live LLM generation
# If not provided, Posty AI will automatically use its built-in fallback engine.
GEMINI_API_KEY=
OPENAI_API_KEY=
DJANGO_SECRET_KEY=django-insecure-(z5lcnj#5l*b)7ul=2bwy98-)ilyd&i46bl0i*ix#50o)mmvv#
DJANGO_DEBUG=True
